<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/favicon.ico" alt="" class="w-100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link active" aria-current="page" href="/Home">Home</a> -->
                    <a class="nav-link active"  routerLinkActive="active" routerLink="/Home">Home</a>
                    <!--routerLinkActive waiting for a name of class  -->
                
                </li>
                <li class="nav-item">
                    <a class="nav-link active"   routerLinkActive="active" routerLink="/Products">Products</a>
                
                </li>
 
                <li class="nav-item">
                    <a class="nav-link active"  routerLinkActive="active" routerLink="/Order">Order</a>
                
                </li>
 
                <li class="nav-item">
                    <a class="nav-link active"  routerLinkActive="active" routerLink="/Cart">Cart</a>
                
                </li>
 
                <li class="nav-item">
                    <a class="nav-link active"  routerLinkActive="active" routerLink="/contactUs">contactUs</a>
                
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  routerLinkActive="active" routerLink="/AboutUs">AboutUs</a>
                
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  routerLinkActive="active" routerLink="User/Profile">Profile</a>
                
                </li>

                <li class="nav-item">
                    <a class="nav-link active"   [hidden]="isLogged"  routerLinkActive="active" routerLink="User/login">login</a>
                
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active"   [hidden]="!isLogged" routerLinkActive="active" routerLink="User/logout">logout</a>
                
                </li>
 
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<!-- <h1>{{info.name}}</h1>
                                    <img [src]="info.logo" alt=""> -->
<!-- <img src="{{logoUrl}}" alt=""> -->
<!-- <img src="assets/1.jpg" alt=""> -->

<!--                                     
                                    <h1>
                                        our services
                                    </h1>
                                    <ul>
                                        <li *ngFor="let ser of info.services">{{ser}} </li>
                                    </ul> -->