<div class="error">
    <div class="container-floud">
        <div class="col-xs-12 ground-color text-center">
            <div class="errorPage">
                <div class="clip">
                    <div class="shadow"><span class="digit numberThree"></span></div>
                </div>
                <div class="clip">
                    <div class="shadow"><span class="digit numberTwo"></span></div>
                </div>
                <div class="clip">
                    <div class="shadow"><span class="digit numberOne"></span></div>
                </div>
            </div>
            <h2>Sorry! Page not found</h2>
        </div>
    </div>
</div>
