<app-order-detail  (addItemToCartItems)="addItemToCartItems($event)"></app-order-detail>


<h3>Cart Items <br> {{cartItems}}</h3>
<table class="table">
    <thead>
        <tr>
            <th>productID</th>
            <th>productName</th>
            <th>unitPrice</th>
            <th>selectedQuantity</th>
            <th>productImg</th>
            <th>productQuantity</th>
            <th>totalPrice</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of  cartItems; let i=index ">
            <td> {{item.productID}}</td>
            <td> {{item.productName}}</td>
            <td> {{item.unitPrice}}</td>
            <td> {{item.selectedQuantity}}</td>
            <td>
                <img src=" {{item.productImg}}" alt="..." class="w-25   ">
            </td>
            <td> {{item.productQuantity}}</td>
            <td> {{totalPrice}}</td>
        </tr>
    </tbody>
</table>