<h2>Today Date: {{todayDate| date:'mediumDate'}}</h2>
<h2>Products List:</h2>

<div class="mb-3">
  <label for="" class="form-label"> select Category</label>
  <select name="cat" id="catID" class="form-select" [(ngModel)]="selectedCategory">
                    <option [value]="0">-/-</option>
      <option  *ngFor="let cat of catList"  [value]="cat.id"> {{cat.Name}} </option>
  </select>
</div>

<hr>{{selectedCategory}}

<!-- getProductFilter -->

            <!-- <select id="mainGroupSelectEdit" class="form-control dash-form-control select2" style="width: 100%;"
                data-minimum-results-for-search="Infinity" name="mainGroupSelectEdit" [(ngModel)]=" cat"
                (ngModelChange)="filteritem($event)">
                <option [ngValue]="null">-/-</option>
                <option *ngFor="let cat of catList" [ngValue]="cat.ID">{{cat.Name}}</option>
            
            </select> -->

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>No</th>
            <th>Name</th>
            <th>Price</th>
            <th>Price in Egy</th>
            <th>Quantity</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <!-- structural binding -->
        <tr *ngFor="let product of getProductFilter(); let i=index " [ngSwitch]="product.Quantity">
            <!-- <td>{{product?.ID}}</td> -->
            <td>{{i+1}}</td>
            <!-- <td [class.text-danger]="product.Quantity ==0">{{product?.Name}}</td> property binding -->
            <td
                [ngClass]="{'text-danger':product.Quantity ==0,'text-warning':product.Quantity ==1, 'text-primary':product.Quantity>=2 }">
                {{product?.Name |uppercase}}</td>
            <!-- Attribute directory -->
            <!-- <td  [ngStyle]="{'color':product.Quantity ==0? 'red':'blue' }">
                    {{product?.Name}}</td> Attribute directory -->

            <!-- code -->
            <td>{{product.Price | currency:"EUR" :"symbol"}}</td>
            <td>{{product.Price | uSDtoEGP:10| currency:"EGP" :"symbol" }}</td>

            <td *ngSwitchCase="1">Last Item </td>
            <td *ngSwitchCase="2">Two Items Only </td>
            <td *ngSwitchDefault="">


                <!-- *ngIf="product.Quantity" -->
                <!-- *ngIf="(product.Quantity==0)?0:1" -->
                <!-- 1 -->
                <!-- <div  *ngIf="product.Quantity">
                    {{product.Quantity}}
                </div> -->

                <!-- 3 -->
                <div *ngIf="product.Quantity else finish">
                    {{product.Quantity}}
                </div>
                <ng-template #finish> Out of stock</ng-template>
            </td>
            <!-- first call custom directive then send the value  -->
            <!-- <td><img appHighlighter [highLightColor]="imgHoverColor" [src]="product.imgURL" alt=""></td> -->
            <!-- <td><img appHighlighter  highLightColor="black" [src]="product.imgURL" alt=""></td>  -->


            <!-- <td><img appHighlighter  highLightColor="black" Defaultcolor="red" [src]="product.imgURL" alt=""></td> -->
            <!-- <td><img appHighlighter="yellow" [src]="product.imgURL" alt=""></td> -->
            <td><img [appHighlighter]="imgHoverColor" Defaultcolor="red" [src]="product.imgURL" alt=""></td>

        </tr>
    </tbody>
</table>

<hr>

