<header>
    <div class="row">
        <div class="col-12  pt-2">
            <h1 class="fw-bold fs-5 ps-2">
                {{store.name}}
            </h1>
        </div>
    </div>
</header>
<!-- *ngIf="(product.Quantity==0)?0:1" -->

<h3 *ngIf="(Discount== 'No Discount ')?0:1">We offer an explicit discount of: {{Discount}}</h3>
<!-- select -->
<select id="mainGroupSelectEdit" class="form-control dash-form-control select2" style="width: 100%;"
    data-minimum-results-for-search="Infinity" name="mainGroupSelectEdit" [(ngModel)]=" selectedCategory">
    <option [ngValue]="null">-/-</option>
    
    <option *ngFor="let cat of catList" [value]="cat.ID">{{cat.Name}}</option>

</select>

<h3>Total Order Price: {{totalOrderPrice}}</h3>

 <div *ngIf=" (!IsPurshased  ) else anotherPage"  >
<div class="HomePage-img  mb-5">
    <div class="row p-2 row-cols-4 justify-content-center">
        <div *ngFor="let product of  getProductFilter() ; let i=index " ngModelChange
            class="itm HomePage-imgElement  position-relative card  m-4  " [ngSwitch]="product.Quantity"
            [hidden]="IsPurshased"   appTranslate appTranslate="pink"  >

                <span style="font-size: 18;color: #fff; background-color: #000;"
                    class="product-card-discount badge fw-bold py-2 px-3 w-25 ">-25%</span>
                <a href=""><img    [src]="product.imgURL" alt="..." class="w-100 p-5 mt-3 "></a>
                <div class="card-body">
                    <!-- Quantity -->
                    <span [ngClass]="{'text-dark':true }" class="fs-5"
                        [ngClass]="{'bg-danger': product.Quantity <=0, 'bg-warning': product.Quantity==1,'bg-primary': product.Quantity>=2 }">Quantity
                        : </span>
                    <span *ngSwitchCase="1">Last Item </span>
                    <span *ngSwitchCase="2">Two Items Only </span>
                    <span *ngSwitchDefault="">
                        <span *ngIf="product.Quantity else finish">
                            {{product.Quantity}}
                        </span>
                        <ng-template #finish> Out of stock</ng-template>
                    </span> <br>

                    <!-- name -->
                    <span [ngClass]="{'text-dark':true }" class="fs-5">Name : </span>
                    <div class="name d-inline-block text-truncate" style="max-width: 100px;">
                        {{product?.Name}}</div>
                    <!-- price -->
                    <div><span [ngClass]="{'text-dark':true }" class="fs-5">Price : </span>{{product.Price |
                        currency:"USD" :'symbol'}}</div>
                        <!-- <td>{{product.Price | uSDtoEGP:10| currency:"EGP" :"symbol" }}</td> -->

                    <!-- <div><button name="" id="" class="btn btn-dark" href="#" role="button"  (click)="decreaseAmount(product)" >Buy</button> </div>

                    <div> <input type="number" class="m-1" #boughtCount> </div>
                                   
                                        <div><button name="" id="" class="btn btn-dark" href="#" role="button"
                                                (click)="calcTotalPrice(product.Price, boughtCount.value, product.Quantity)" (click)="togglePages()">Add To
                                                cart</button></div>
                                        </div> -->
                                            <!-- [disabled]="!boughtCount.value " -->
                    <!-- add to cart -->

                     <!-- buttons -->
                        <div class="d-flex justify-content-between my-2">
                        <button class="btn btn-dark" (click)="increase(boughtCount,product)">+</button>
                        <input type="text" value=0 id="typeNumber" min="0" class="form-control " #boughtCount />
                        <button class="btn btn-dark" (click)="decrease(boughtCount,product)">-</button>     
                        </div>
                        <div><button name="" id="" class="btn btn-dark" href="#" role="button"
                                (click)="calcTotalPrice(product.Price, boughtCount.value, product.Quantity)" (click)="togglePages()">Add To
                                cart</button></div>
                        </div>
               


                
            </div>




            <!-- </div> -->
        
        </div>
    </div>
</div>
<ng-template #anotherPage>
    <div class="bg-success card fw-bold fs-5 m-4 p-5 text-center" style=" width:100%; height:500px">Thanks for purchasing from {{store.name}} Store {{clientName}} <br>
    your pill is {{totalOrderPrice}}</div>

</ng-template>


<hr>
<!-- credit card -->
<div class="card mb-4" style="width:40rem;">

    <div class="card-body">
        <h5 class="card-title">Custom Pipe credit card</h5>
        <p class="card-text"> {{date | date:'long'}}</p>
        <label for="client" class="text-primary me-3 mb-2 fs-5 fw-bold"> Enter your ID: </label>

        <input type="text" [(ngModel)]="ID" Id="client" class="px-4 py-2 rounded mb-4 me-2"  maxlength="16"> 
        <button id="" class="btn btn-primary py-2" type="button" (click)="showID()">Enter</button> <br>
        <div [hidden]="show">
        <span class="card-text" class="text-primary me-3 mb-2 fs-5 fw-bold"> your ID is  : </span><span>{{ID | creditPipe}}</span>
        </div>
    </div>
</div>

<!-- nationalID -->
<div class="card mb-4" style="width:40rem;">
    <div class="card-body">
        <h5 class="card-title">Custom Pipe NationalID</h5>
        <p class="card-text"> {{date | date:'long'}}</p>
            <label for="client" class="text-primary me-3 mb-2 fs-5 fw-bold"> Enter your National ID: </label>
            <input type="text" [(ngModel)]="NID" Id="client" class="px-4 py-2 rounded mb-4 me-2" maxlength="14">
            
            <button id="" class="btn btn-primary py-2 " type="button" (click)="showID()">Enter</button> <br>
            <div [hidden]="show">
                <span class="text-primary me-3 mb-2 fs-5 fw-bold"> your Birthdate is : </span> <span>{{NID
                    |nationalid:"FullDate"}}</span>
            
            </div>
    </div>
</div>


<label for="client" class="text-primary me-3"> Client Name: </label>
<input type="text" [(ngModel)]="clientName" Id="client">
<hr> {{clientName}}