<div>
<header>
    <div class="row">
        <div class="col-12  pt-2">
            <p class="fw-bold fs-5 ps-2">
                Top selling items
            </p>
        </div>
    </div>
</header>

<!-- select -->
<select id="mainGroupSelectEdit" class="form-control dash-form-control select2" style="width: 100%;"
    data-minimum-results-for-search="Infinity" name="mainGroupSelectEdit" [(ngModel)]=" selectedCategory">
    <option [ngValue]="null">-/-</option>
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.Name}}</option>
</select>

 <h3>Total Order Price: {{totalPriceForBoughtItems}}</h3>
<!-- <h3> Total price tax: {{totalOrderPricetax}}</h3>
(totalPriceChangedtax)="onTotalPriceChangedTax($event)" -->




    <div class=" ">
         <app-cartchild [selectedCategoryChild]= " selectedCategory" (totalPriceChanged)="onTotalPriceChanged($event)"     > </app-cartchild>
    </div>


    

</div>
